/* Headings */
h1 {
    color: black;
    text-align: center;
    font-size: 4rem;
@media (width > 600px){
    font-size: 7.5rem;
    }
    }

h2 {
    color: #cb721c;
    text-align: center;
    font-size: 2.5rem;
}

/* Heading 3 text centering */
h3 {
text-align: left;
font-size: 1.6rem;
}

/* Paragraph */
p {
    padding: 5px;
    text-align: justify;
    font-size: 1.5rem;
    text-align: justify;
}

/* Wrapper */
.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

/* Navbar */

.primary-navigation ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 15px;
}

.primary-navigation a {
    text-decoration: none;
    font-weight: bold;
}

/* Layout */
.two-column-layout {
    display: grid;
    gap: 60px;
    margin-bottom: 20px;
    @media (width > 600px) {
        grid-template-columns: 1fr 1fr;

    }
}

/* Images */
img {
    max-width: 100%;
    display: block;
}

/* Special section */
.teal-bg {
    background-color: #22466c;
    color: white;
    padding: 15px;
}

/* Footer */
footer {
    background-color: #22466c;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

/* Lists */
ul {
    list-style: circle;
}

/* unordered list item */
ul li{
    font-size: 20px;
}

/* ordered list item */
ol li{
    font-size: 20px;
    text-align: left;
}

/*emoji */
.reasons li::marker {
    content: "🥏 ";
}
.climber-bg{
    background-image: url('../img/simple-steps.jpg');
    color: aliceblue;
    padding-inline: 20px;
}
span{
    color: #4676a9;
}
@media (min-width: 576px){
    body{
        font-size: 15px;
    }
}
@media (min-width: 768px){
    body{
        font-size: 15px;
    }
}
@media (min-width: 992px){
    body{
        font-size: 15px;
    }
}
@media (min-width: 1200px){
    body{
        font-size: 15px;
    }
}